.mainColor{
  background: var(--main-color) !important;
}
.mainColorText{
  color: var(--main-color) !important;
}
.mainColorBorder{
  border-color: var(--main-color) !important;
}
.mainFontSmall{
  font-size: small !important;
}
.apexcharts-toolbar{
  display: none !important;
}
.App{
    --main-color: #e90979;
    --main-color-dark: rgba(233,9,121,0.8);
    --main-color-light: rgba(233,9,121,0.5);
    --main-color-super-light: rgba(233,9,121,0.3);
    --main-color-bg-light: rgba(233,9,121,0.2);
    --main-color-white: rgba(233,9,121,0.05);
    --navbar-bg: #e90979;
    --second-color: #f081b9;
    --navbar-bg: linear-gradient(315deg,#fe3876,#e6017a 71%,#e6017a);
}